/* Colors */
$primary-color:#4385F5;
$global-secondary-color:#6EC829;
$global-secondary-2:#161d45;
$global-body-bgcolor: #f8f9fa;
$global-body-lightcolor:#f9fbff; 
$global-font-color:#212529;
$global-font-title: $primary-color;
$global-font-dark:#808080;
$border-color-light: #f1f1f1;
$border-color-dark: #7f858b;
$color-dashboard-white-box: #fff;
$border-color-light-opacity: rgba(47, 101, 185, 0.19);
$color-link: #2f65b9;
$color-link-visited:#2f65b9;
$color-link-active: #2f65b9;
$verify-user-color:#3897F0;
$dark-icon-color:#64738b;
$color-white:#fff;
$color-black:#000;
$color-black-two:#00000033;
$color-post-sticky-bg: #e5efff;
$color-input-placeholder: #7c859b;
$color-input-border: #cbcbcb;
$color-menu-font: #7f858b;
$disable-color:#cbcbcb;
$color-default-bg-avatar: #ddeaff;
$gradient-color:linear-gradient(151deg, #2F65B9 14.58%, rgb(47 101 185 / 22%) 82.02%);
$instra-color:linear-gradient(45deg,#f09433,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888);
$report-btn: #111941;
$divider-border: #e2e2e2;
$text-color: #444444;
/* vertical menu */
$color-sidebar-dark: #212529;
// custom
$amount-color-rate: #787575;
$color-bg: #F4F4F4;
$background1:#F9F9F9;
$color-red-darker: #b80000;
$color-maroon: #6d0e0e;
$color-red-dark: #b20000;
$main-tab-icon-border: #003F66;
$header-bg: #202C59;
$color-active: #bebebe73;
$table-td-odd: #f8f8f8;
$table-td-even: rgba(239, 239, 239, 1);
$accordian-btn-bg:#FAFAFA;
$accordian-btn-color:#2A5C8A;
$accordian-border:#DEDEDE;
$accordian-body-bg:#F6F6F6;
$verified-color:#42ee2b;
$active-accordian:#3ED231;
$datepaicker-header :#003f6610;
$datepicker-names :#003f66ef;
$datepicker-bg:#efa8a6;
$global-color-grey:grey;
$datepicker-weekend:$primary-color;
$profile-card-bg:#F5F7FF;
$profile-border-card:#D2D6E6;
$success-alert:#3ED231;
$info-alert:#3184D1;
$warning-alert:#FFB628;
$error-alert:#F24E1E;
$label-text-color:#717171;
$modal-border-content:#D9D9D9;
$loss-warning:#FB3737;
$deactive-span:#d2313e;
$noniee-bg:#FFCFCF;
$nominee-border:#FBAEAE;
$custom-range-color:#333333;
$number-list-text:#7B7B7B;
$card-slip-bg:#E3F2FF;
$card-slip-border:#7CC0FF;
$userprofilebg:#E75757;
$download-bg:#EEEEEE;
$upload-bg:#787878;
$table-border-color:#D0D0D0;
$label-after-bg:#C1C1C1;
$input-checked-bg:#009900;
$form-border-color:#999999;
$ipo-bg:#FFFCED;
$credcard-bg:#EDEDED;
$otp-border:#BEBEBE;
$modal-show:#9595957a;
$accordian-item-border:#eaeaea;
$profit-loss-color:#909090;
$invested-color:#919191;
$invested-money-color:#0094e8;
$ranger-label-color:#b2b2b2;
$range-active:#37adbf;
$range-output-color:#999;
$range-background:#555;
$range-full-range: #DDD;
$color-gold:gold;
$color-dark-blue:#053D92;
$card-plan-color:#565656;
$card-plan-year-color:#40809F;
$card-btn-bg-color:#32DAFF;
$card-fund-hover:#fccabc;
$news-card-bg:#FFFCF2;
$nfo-bg:#f8cfd5;
$about-us-bg:#ebebeb;
$finance-hover-bg:#EFFFFD;
$ourgoalbg:#EAFEFD;
$responsibility-title-color:#00D5C9;
$mission-bg:#eef5fe;
$font-title-3-color:#00AFD5;
$scroll-track:#485364;
$scroll-thumb:#37415157;
$scroll-thumb-hover:#2b3546d8;
$table-th-bg-color:#D0DAE0;
$color-purple:#9747ff;
$color-cyan:#2ebaef;
$color-light-bg:#f9f9fb;
$color-light-border:#dee2e6;
$color-cyan-light:#26F2FF;
$color-cyan-three:#71BAFD;
$color-white-two:#F2F2F2;
$color-white-three:#f0f7ff;
$color-white-four:#ffffffcc;
$color-white-five:#ffffff66;
$color-grey-two:#6d6767;
$row-thumb:#888;
$row-thumb-hover:#555;
$mf-border-top:#DCE4F0;
$dropdownitembg:#e9ecef;
$tabpanebg:#F6FAFF;
$typecategoy-bg:#D8E8FD;
$searchinputbg:#e8e8e8;
$black-two:#222;
$blue-two:#1749c6;
$blue-three:#2454FF;
$light-blue:#77BBFF;
$scheme-categories-bg:#f8f7f8;
$boder-three:#DBDBDB;
$color-grey-two:#9C9B9B;
$light-yellow:#FFFCDD;
$light-yellow-two:#CECECE;
$light-yellow-three:#cccccc;
$dark-blue:#041775;
$user-profile-bg:#a9d3fd7a; //  rgba(169, 211, 253, 0.48)
$user-pofile-detail-bg:rgba(255, 255, 255, 0.4);
$pf-box-shadow:#0000001A;
$box-shadow-3:0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
$box-shadow-4:0 0.125rem 0.375rem rgba(0, 0, 0, 0.25);
$box-shadow-5:0 0 0 0.25rem rgba(41, 253, 13, 0.25);
$box-shadow-6:0 0 0 0.25rem rgb(0 63 102 / 20%);
$box-shadow-7:0 0 0 0.25rem rgb(0 63 102 / 17%);
$box-shadow-8:0 .5rem 1rem rgba(0,0,0,.15);
$box-shadow-9: 0 0 0 0.16rem rgba(13,110,253,.25);
$box-shadow-10:0 0 0 0.25rem rgba(206, 18, 13, 0.1019607843) !important;
$box-shadow-11: 0 0 1.25rem rgb(115 105 215 / 10%);
$box-shadow-12: 0 0 0 0.18rem rgb(13 110 253 / 25%);
$box-shadow-13: 0.625rem 0.625rem 3.125rem rgb(0 0 0 / 5%);
$box-shadow-14:0 0.25rem 0.25rem rgba(0, 0, 0, 0.10);
$box-shadow-15: 0 0.0625em 0.5em rgba(0, 0, 0, 0.2);
$box-shadow-16:0.125rem 0.5rem 0.75rem -0.25rem rgba(0, 0, 0, 0.4);
$box-shadow-17: 0 0.063rem 0.375rem 0.063rem rgba(0, 0, 0, 0.18);
$box-shadow-18:0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
$box-shadow-19:0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
$box-shadow-20:0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.25);
$box-shadow-21: 0 0.5rem 0.813rem rgb(70 74 85 / 8%);
$box-shadow-22: 0 0.125rem 0.813rem rgb(74 74 85 / 42%);
$box-shadow-23:0 0.125rem 0.25rem 0 rgb(0 0 0 / 10%);
$box-shadow-24:0.125rem 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
$box-shadow-25: 0 0 0.625rem rgba(0, 0, 0, 0.25);
$box-shadow-26:0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
$box-shadow-27:0 0 0 .25rem rgba(253, 13, 13, 0.25);
$box-shadow-28:0.125rem 0.063rem 0.438rem rgba(0, 0, 0, 0.18);
$box-shadow-29:0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
// drop shadow
$dropshadow-1: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
// linear gradient
$lineargradient-1: linear-gradient(180deg, #FFFFFF 61.12%, #F0F0F0 134.75%);
$lineargradient-2:linear-gradient(180deg, #fffcee 0%, #fff1ee 100%, rgba(255, 252, 238, 0) 100%);
$lineargradient-3:linear-gradient(180deg, #ffeec1 0%, #95fff2 145.19%, #fff1ee 145.19%);
$lineargradient-4:linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(240, 247, 255, 1) 95.08%);
$lineargradient-5: linear-gradient(90deg, rgba(240, 247, 255, 1) 100%, rgba(240, 247, 255, 1) 100%);
$lineargradient-6:linear-gradient(180deg, #FFFFFF -118.67%, #F0F7FF 134.88%);
$lineargradient-7:linear-gradient(180deg, #E2E2E2 -253.02%, #F4F4F4 111.19%);
$lineargradient-8:linear-gradient(360deg, #EFFFFD 13.49%, rgba(239, 255, 253, 0) 117.85%);