.breadcrumb-section {
background-image: url("../web-asset/images/breadcrumb.png");
background-repeat: no-repeat;
background-size: cover;
padding: 50px 16px;
}

.breadcrumb-title {
  font-weight: $font-weight-bold;  
}