.master-wrapper {
    padding: 0;
    @media (max-width:768px) {
        padding: 2.5rem 0;
    }
    .master-content-wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .box-card {
            border-radius: $border-radius;
            border: none;
            box-shadow: none;
            margin-right: 1.875rem;
            margin-top: 1.25rem;
            max-width: 6.25rem;
            .box-card-link {
                text-decoration: none;
            }
            .box-card-header {
                border: 0.063rem solid $main-tab-icon-border;
                background-color: $color-white;
                padding: 1rem;
                border-radius: $border-radius;
                svg {
                    width: 3.75rem;
                    height: 3.75rem;
                }
            }
            .box-card-body {
                margin-top: 0.688rem;
                .box-card-title {
                    font-size: $font-size-normal;
                    text-align: center;
                    font-weight: $font-weight-medium;
                    color: $global-font-color   ;
                    padding: 0 0.313rem;
                    text-transform: capitalize;
                }
            }
        }
        @media (max-width:991px) {
            // padding: 10.938rem 2.5rem 0 2.5rem;
            .box-card {
                margin-right: 1.25rem !important;
            }
        }
        @media (max-width:960px) {
            // padding: 3rem 1rem 0 1rem;
            .box-card {
                margin-right: 1.25rem !important;
            }
        }
        @media (max-width:768px) {
            // padding: 2rem 0 0 0;
            .box-card {
                margin-right: 1rem !important;
                width: 100%;
                text-align: center;
                max-width: 9.625rem !important;
            }
        }
        @media (max-width:425px) {
            // padding: 2rem 0 0 0;
        }
    }
    }